<!DOCTYPE html>
    
<html  ng-app='introAng'>
    
    <head>
        <title>JS 4.1 Intro to Angular</title>
        <!-- jQuerey -->
        <script rel='javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js'></script>
        <!-- Bootstrap -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css'></script>
        <!-- Personal CSS -->
        <link rel='stylesheet' href='main.css'></script>   
        <!-- Angular -->
        <script rel='javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js'></script>
    </head>
    
    <body ng-controller='introController as introCtrl'>
        
        <div ng-repeat="content in introCtrl.pageContent">
            <h1 class="jumbotron text-center">{{introCtrl.title}}</h1>
            
            <button class='btn btn-default blue'  ng-click='introCtrl.showH1 = !(introCtrl.showH1)' type='button'>Toggle Switch</button>
            
                <h1 ng-hide='introCtrl.showH1'>{{content.h1}}</h1>
            
            <hr>
            
            <button class='btn btn-default green'  ng-click='introCtrl.showUl = !(introCtrl.showUl)' type='button'>Toggle Switch</button>
            
                <ul ng-hide='introCtrl.showUl'>
                    <li>{{content.li1}}</li>
                    <li>{{content.li2}}</li>
                    <li>{{content.li3}}</li>
                </ul>
                
            <hr>
            
            <h2>{{content.h2}}</h2>
                <p ng-style='style' ng-mouseover="style={'color':'salmon'}">{{content.p}}</p>
                <a href='#'>Link!</a>
        </div>

        <!-- Personal JS -->
        <script rel='javascript' src='main.js'></script>
	    <script type="text/javascript" src="main.introController.js"></script>
    	<script type="text/javascript" src="main.layoutFactory.js"></script>
    </body>
</html>